"*":
  "advanced-open-file": {}
  "ansible-vault":
    path: "U:\\remote-ansible-vault.sh"
    vault_password_file_path: "C:\\TMP\\ansible.cfg"
  "atom-beautify":
    bash: {}
    executables:
      beautysh:
        path: "C:\\Program Files\\Python35\\Lib\\site-packages\\beautysh\\beautysh.py"
    general:
      _analyticsUserId: "a52f6bc3-f1f2-4a6d-a961-c66c1e202425"
    python:
      max_line_length: 500
    xml:
      default_beautifier: "JS Beautify"
      wrap_attributes: "force-aligned"
  "atom-clock":
    dateFormat: "DDD/\\z-X\\*\\n\\i\\x--dd YY/MM/DD-H:m.ss"
    refreshInterval: 1
  "atom-ide-ui":
    use:
      "atom-ide-busy-signal": "default"
      "atom-ide-code-actions": "default"
      "atom-ide-code-format": "default"
      "atom-ide-code-highlight": "default"
      "atom-ide-console": "default"
      "atom-ide-datatip": "default"
      "atom-ide-debugger": "default"
      "atom-ide-definitions": "default"
      "atom-ide-diagnostics": "default"
      "atom-ide-diagnostics-ui": "never"
      "atom-ide-find-references": "default"
      "atom-ide-global": "default"
      "atom-ide-outline-view": "default"
      "atom-ide-signature-help": "default"
      "atom-ide-terminal": "default"
      hyperclick: "default"
  "autocomplete-python":
    useKite: false
  core:
    autoHideMenuBar: true
    disabledPackages: [
      "linter-flake8"
      "python-debugger"
      "ascii-hex"
      "base64"
      "file-icons"
      "language-plantuml"
      "teletype"
      "plantuml-viewer"
      "advanced-open-file"
      "python-tools"
      "language-batchfile"
      "linter-js-yaml"
      "todo-show"
      "build"
      "build-gradle"
      "atom-ide-ui"
      "atom-jinja2"
      "autocomplete-python"
      "highlight-selected"
      "ide-python"
      "language-puppet"
      "language-systemd"
      "linter-write-good"
      "open-recent"
      "package-sync"
      "regex-railroad-diagram"
      "tree-view-git-status"
      "multi-cursor"
      "platformio-ide-terminal"
    ]
    telemetryConsent: "limited"
    themes: [
      "atom-material-ui"
      "atom-material-syntax-dark"
    ]
    uriHandlerRegistration: "never"
    useProxySettingsWhenCallingApm: false
  editor:
    fontSize: 10
    showInvisibles: true
  "exception-reporting":
    userId: "489f2881-2901-76b2-019c-1ec73ec6c3c9"
  "file-icons": {}
  "git-blame":
    columnWidth: 255
    customCommitUrlTemplateString: "https://bitbucket.aoins.com/projects/<%- project %>/repos/<%- repo %>/commits/<%- revision %>"
    useCustomUrlTemplateIfStandardRemotesFail: true
  "git-plus":
    general:
      _analyticsUserId: "19ded903-2128-47fb-97ed-4bdaded174ac"
  "ide-python":
    pylsPlugins:
      autopep8:
        enabled: false
      mccabe:
        enabled: false
      pycodestyle:
        enabled: false
      pydocstyle: {}
      pyflakes:
        enabled: false
      yapf:
        enabled: false
  kite:
    editorMetricsEnabled: "no"
  linter:
    disabledProviders: [
      "Flake8"
    ]
    lintOnChange: false
    lintOnChangeInterval: 15000
  "linter-puppet-lint":
    automaticFix: true
    oldVersion: false
  "linter-pycodestyle":
    maxLineLength: 500
  "linter-pyflakes": {}
  "linter-shellcheck":
    enableNotice: true
    shellcheckExecutablePath: "C:\\Users\\e018503\\bin\\shellcheck.exe"
  "linter-ui-default":
    panelHeight: 200
    panelRepresents: "Entire Project"
    showPanel: true
  minimap:
    plugins:
      bookmarks: true
      bookmarksDecorationsZIndex: 0
      cursorline: true
      cursorlineDecorationsZIndex: 0
      "find-and-replace": true
      "find-and-replaceDecorationsZIndex": 0
      "git-diff": true
      "git-diffDecorationsZIndex": 0
      "highlight-selected": true
      "highlight-selectedDecorationsZIndex": 0
      linter: true
      linterDecorationsZIndex: 0
      selection: true
      selectionDecorationsZIndex: 0
  "one-dark-ui": {}
  "package-sync":
    createOnChange: true
    forceOverwrite: true
  "platformio-ide-terminal":
    core:
      workingDirectory: "Active File"
    customTexts:
      customText1: "bash /c/accugit/update.sh"
      customText2: "bash /c/accugit/update.sh; exit"
    style:
      fontSize: "12"
    toggles:
      autoClose: true
      cursorBlink: true
  "todo-show": {}
  "tree-view": {}
  welcome:
    showOnStartup: false
