"*":
  "atom-beautify":
    bash: {}
    executables:
      beautysh:
        path: "C:\\Program Files\\Python35\\Lib\\site-packages\\beautysh\\beautysh.py"
    general:
      _analyticsUserId: "a52f6bc3-f1f2-4a6d-a961-c66c1e202425"
    python: {}
    xml:
      beautify_on_save: true
      default_beautifier: "JS Beautify"
      wrap_attributes: "force-aligned"
  "atom-clock":
    dateFormat: "DDD/\\z-X\\*\\n\\i\\x--dd YY/MM/DD-H:m.ss"
    refreshInterval: 1
  "autocomplete-python":
    useKite: false
  core:
    autoHideMenuBar: true
    disabledPackages: [
      "linter-puppet-lint"
      "linter-pyflakes"
      "python-debugger"
      "linter-jsonlint"
      "spell-check"
      "linter-xmllint"
      "elasticsearch-client"
      "file-icons"
      "plantuml-viewer"
      "python-tools"
      "autocomplete-xml"
      "linter-ansible-syntax"
    ]
    telemetryConsent: "limited"
    themes: [
      "one-dark-ui"
      "atom-material-syntax"
    ]
    useProxySettingsWhenCallingApm: false
  editor:
    fontSize: 11
    showInvisibles: true
  "elasticsearch-client":
    baseUrl: "http://sndgrylog001:9200"
    docType: "message"
    index: "graylog2_308"
  "exception-reporting":
    userId: "489f2881-2901-76b2-019c-1ec73ec6c3c9"
  "file-icons":
    coloured: false
  "git-plus":
    general:
      _analyticsUserId: "19ded903-2128-47fb-97ed-4bdaded174ac"
  linter:
    disabledProviders: [
      "Flake8"
    ]
  "linter-puppet-lint":
    automaticFix: true
    oldVersion: false
  "linter-pyflakes": {}
  "linter-shellcheck":
    enableNotice: true
  "linter-ui-default": {}
  minimap:
    plugins:
      bookmarks: true
      bookmarksDecorationsZIndex: 0
      cursorline: true
      cursorlineDecorationsZIndex: 0
      "find-and-replace": true
      "find-and-replaceDecorationsZIndex": 0
      "git-diff": true
      "git-diffDecorationsZIndex": 0
      "highlight-selected": true
      "highlight-selectedDecorationsZIndex": 0
      linter: true
      linterDecorationsZIndex: 0
      selection: true
      selectionDecorationsZIndex: 0
  "one-dark-ui":
    tabSizing: "Minimum"
  "package-sync":
    createOnChange: true
    forceOverwrite: true
  "platformio-ide-terminal":
    core:
      workingDirectory: "Active File"
    customTexts:
      customText1: "bash /c/accugit/update.sh"
      customText2: "bash /c/accugit/update.sh; exit"
    style:
      fontSize: "12"
    toggles:
      autoClose: true
      cursorBlink: true
  "tree-view":
    hideVcsIgnoredFiles: true
  welcome:
    showOnStartup: false
