"*":
  "atom-beautify":
    general:
      _analyticsUserId: "a52f6bc3-f1f2-4a6d-a961-c66c1e202425"
    python: {}
  "atom-clock":
    dateFormat: "DDD/\\z-X\\*\\n\\i\\x-H\\m\\i\\l/\\h\\r-dd YY/MM/DD-ss\\s\\e\\c"
    refreshInterval: 1
  "autocomplete-python":
    useKite: false
  core:
    autoHideMenuBar: true
    disabledPackages: [
      "linter-shellcheck"
      "linter-puppet-lint"
      "linter-flake8"
      "linter-jsonlint"
      "linter-pyflakes"
    ]
    telemetryConsent: "limited"
    themes: [
      "one-dark-ui"
      "atom-material-syntax"
    ]
  editor:
    fontSize: 11
    showInvisibles: true
  "elasticsearch-client":
    baseUrl: "http://sndgrylog001:9200"
    docType: "message"
    index: "graylog2_308"
  "exception-reporting":
    userId: "489f2881-2901-76b2-019c-1ec73ec6c3c9"
  "file-icons":
    onChanges: true
  "git-plus":
    general:
      _analyticsUserId: "19ded903-2128-47fb-97ed-4bdaded174ac"
  "linter-puppet-lint":
    automaticFix: true
    oldVersion: false
  "linter-pyflakes": {}
  minimap:
    plugins:
      bookmarks: true
      bookmarksDecorationsZIndex: 0
      cursorline: true
      cursorlineDecorationsZIndex: 0
      "find-and-replace": true
      "find-and-replaceDecorationsZIndex": 0
      "git-diff": true
      "git-diffDecorationsZIndex": 0
      "highlight-selected": true
      "highlight-selectedDecorationsZIndex": 0
      selection: true
      selectionDecorationsZIndex: 0
  "one-dark-ui":
    layoutMode: "Compact"
    tabSizing: "Minimum"
  "package-sync":
    createOnChange: true
    forceOverwrite: true
  "platformio-ide-terminal":
    customTexts:
      customText1: "bash /c/accugit/update.sh"
      customText2: "bash /c/accugit/update.sh; exit"
    style:
      fontSize: "12"
    toggles:
      autoClose: true
      cursorBlink: true
  "tree-view":
    hideVcsIgnoredFiles: true
  welcome:
    showOnStartup: false
