packages: [
  "advanced-open-file"
  "ascii-hex"
  "atom-beautify"
  "atom-clock"
  "atom-material-syntax"
  "autocomplete-python"
  "autocomplete-xml"
  "base64"
  "busy-signal"
  "elasticsearch-client"
  "file-icons"
  "git-plus"
  "highlight-selected"
  "indent-guide-improved"
  "intentions"
  "language-ansible"
  "language-batchfile"
  "language-groovy"
  "language-plantuml"
  "language-powershell"
  "language-puppet"
  "language-systemd"
  "linter"
  "linter-ansible-syntax"
  "linter-flake8"
  "linter-js-yaml"
  "linter-jsonlint"
  "linter-puppet-lint"
  "linter-pyflakes"
  "linter-shellcheck"
  "linter-ui-default"
  "linter-write-good"
  "linter-xmllint"
  "material-oceanic-syntax"
  "minimap"
  "minimap-bookmarks"
  "minimap-cursorline"
  "minimap-find-and-replace"
  "minimap-git-diff"
  "minimap-highlight-selected"
  "minimap-linter"
  "minimap-selection"
  "multi-cursor"
  "oceanic-next"
  "oceanic-one-dark-syntax"
  "open-recent"
  "package-sync"
  "plantuml-viewer"
  "platformio-ide-terminal"
  "project-manager"
  "python-debugger"
  "python-tools"
  "restart-atom"
  "revert-buffer"
  "tree-view-git-status"
]
